openapi: 3.1.0
info:
  title: ScaleUp Backend API
  version: 0.2.0
  description: |
    Source of truth for request/response shapes between the backend and the
    iOS / Android RN clients. Update this file in the same PR as any wire
    shape change so client type generators and runtime validators stay in
    sync.

    ## Coverage status
    - **Documented** (full schemas): auth, onboarding, objectives, diagnostic,
      plan, journey, progress, users, knowledge, dashboard.
    - **Not yet documented**: admin, aiTutor, audioSummaries, colleges,
      competition, content, creator, diagnosticAdmin, flashcards, gdpr,
      interviews, learningPaths, legal, mindmaps, noteRequests, notes,
      notifications, quizzes, recommendations, social, userInferences,
      youtube, website. The runtime validator is configured to skip
      undocumented paths so adoption is incremental — extend this file as
      you touch those endpoints.

    ## Tooling
    - iOS:     https://github.com/apple/swift-openapi-generator
    - RN:      https://github.com/drwpow/openapi-typescript
    - Backend: express-openapi-validator middleware in src/app.js
    - Lint:    `npx redocly lint openapi.yaml`
  license:
    name: Proprietary
    url: https://scaleupapp.club

servers:
  - url: https://api.scaleupapp.club/api/v1
    description: Production
  - url: http://localhost:5000/api/v1
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Registration, login, OTP, password reset
  - name: Onboarding
    description: Step-by-step user onboarding
  - name: Objectives
    description: Learning objectives (one per user)
  - name: Diagnostic
    description: Day-1 diagnostic + recalibration
  - name: Plan
    description: Personalised learning plan
  - name: Journey
    description: Active learning journey orchestration
  - name: Progress
    description: Activity history, stats, insights
  - name: Users
    description: User profile + account management
  - name: Knowledge
    description: Knowledge profile + topic mastery
  - name: Dashboard
    description: Home dashboard aggregate
  - name: YouV2
    description: v2 You-tab — overview, activities, analytics, coding mastery
  - name: Coding
    description: Coding practice — drills + capstones
  - name: InterviewProgram
    description: Agentic layer — coached multi-week interview prep program (interview_coach)
  - name: ProofJourney
    description: Agentic layer — JD-to-published-proof journey (proof_builder)

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Missing or invalid auth token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    Forbidden:
      description: Authenticated but not allowed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    Conflict:
      description: |
        Domain-level conflict. May include a `code` field (stable machine
        identifier) and a `resumeStep` field (onboarding step to resume).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    RateLimited:
      description: Rate limited
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }

  schemas:
    # =====================================================================
    # Compass shared schemas
    # =====================================================================

    CompassSuggestedAction:
      description: >
        Optional structured action the iOS client can render as a chat affordance
        (e.g. a "Start drill" action card). Appended to Compass conversation/tutor/
        mentor/coach responses when intent detection fires.
      oneOf:
        - type: 'null'
        - type: object
          required: [type]
          properties:
            type:
              type: string
              enum: [request_drill]
            drill_subtype:
              oneOf:
                - type: string
                  enum: [prompt, verify, decompose]
                - type: 'null'
            difficulty:
              oneOf:
                - type: string
                  enum: [easy, medium, hard]
                - type: 'null'
            topic_hint:
              oneOf:
                - type: string
                - type: 'null'

    CompassCard:
      type: object
      description: >
        A rich answer card projected from an invoked Compass Progress tool.
        Clients render the payload by `type`; unknown types must be ignored.
        For `type: agent_proposal`, payload is
        `{ decisionId, title, summary, consequence, ops }` — an agentic-layer
        proposal the client renders with Apply/Adjust/Dismiss actions and
        resolves via POST /v2/agent/decisions/{decisionId}/respond.
      properties:
        type:
          type: string
          enum: [readiness_explanation, activity_result, topic_detail, weak_topics, recent_activity, tutoring_result, agent_proposal]
        payload:
          type: object
          additionalProperties: true
      required: [type, payload]

    # =====================================================================
    # Envelopes + primitives
    # =====================================================================
    ApiSuccessEnvelope:
      type: object
      required: [success]
      properties:
        success: { const: true }
        message: { type: string }
        data:    { description: Endpoint-specific payload }

    ApiErrorEnvelope:
      type: object
      required: [success]
      properties:
        success:    { const: false }
        error:      { type: string, description: User-facing message }
        message:    { type: string, description: Legacy alias for error }
        code:       { type: string, description: Stable machine code (NEEDS_ONBOARDING / NEEDS_RECALIBRATION) }
        reason:     { type: string, description: Internal classification }
        resumeStep:
          type: integer
          minimum: 1
          maximum: 5
          description: |
            When `code: NEEDS_ONBOARDING`, the onboarding step the client should drop the user into.
            3 = objective+specifics, 5 = topic ratings.

    Tokens:
      type: object
      required: [accessToken, refreshToken]
      properties:
        accessToken:  { type: string }
        refreshToken: { type: string }

    SelfRating:
      type: string
      enum: [novice, familiar, proficient, expert, unsure]

    ProficiencyBand:
      type: string
      enum: [novice, familiar, proficient, expert]

    # =====================================================================
    # User
    # =====================================================================
    User:
      type: object
      required: [_id, onboardingComplete, diagnosticComplete]
      properties:
        _id:                 { type: string }
        email:               { type: string, format: email }
        phone:               { type: string }
        firstName:           { type: string }
        lastName:            { type: string }
        role:                { type: string, enum: [user, creator, admin] }
        avatarUrl:           { type: [string, 'null'] }
        onboardingStep:      { type: integer, minimum: 1, maximum: 5 }
        onboardingComplete:  { type: boolean }
        diagnosticComplete:  { type: boolean }
        needsCalibration:    { type: boolean }
        createdAt:           { type: string, format: date-time }

    AuthResult:
      type: object
      required: [user, accessToken, refreshToken]
      properties:
        user:         { $ref: '#/components/schemas/User' }
        accessToken:  { type: string }
        refreshToken: { type: string }

    # =====================================================================
    # Objective + onboarding
    # =====================================================================
    Specifics:
      type: object
      properties:
        examName:      { type: string }
        targetSkill:   { type: string }
        targetRole:    { type: string }
        targetCompany: { type: string }
        fromDomain:    { type: string }
        toDomain:      { type: string }
      additionalProperties: true

    UserObjective:
      type: object
      required: [_id, userId, objectiveType, status]
      properties:
        _id:                  { type: string }
        userId:               { type: string }
        objectiveType:
          type: string
          enum: [exam_preparation, upskilling, interview_preparation, career_switch, casual_learning, networking, academic_excellence]
        specifics:            { $ref: '#/components/schemas/Specifics' }
        specificsCanonical:   { $ref: '#/components/schemas/Specifics' }
        timeline:             { type: string }
        targetDate:           { type: [string, 'null'], format: date-time }
        currentLevel:         { type: string, enum: [beginner, intermediate, advanced] }
        weeklyCommitHours:    { type: number, minimum: 0 }
        preferredLearningStyle: { type: string }
        topicsOfInterest:
          type: array
          items:
            type: object
            required: [canonicalName, name]
            properties:
              canonicalName: { type: string }
              name:          { type: string }
              source:        { type: string }
              isFutureProofing: { type: boolean }
        topicSelfRatings:
          type: object
          additionalProperties: { $ref: '#/components/schemas/SelfRating' }
          description: Map of canonicalName → SelfRating
        status:               { type: string, enum: [active, paused, completed] }
        isPrimary:            { type: boolean }
        needsCalibration:     { type: boolean }

    # =====================================================================
    # Diagnostic
    # =====================================================================
    DiagnosticAttemptStart:
      type: object
      required: [attemptId, flowType, competenciesToAssess]
      properties:
        attemptId: { type: string }
        flowType:  { type: string, enum: [new_user, recalibration] }
        totalEstimatedQuestions: { type: integer, minimum: 0 }
        estimatedDurationSec:    { type: integer, minimum: 0 }
        competenciesToAssess:
          type: array
          items:
            type: object
            required: [name, questionCap]
            properties:
              name:        { type: string }
              questionCap: { type: integer, minimum: 0 }

    DiagnosticOption:
      type: object
      required: [key, text]
      properties:
        key:  { type: string }
        text: { type: string }

    DiagnosticQuestion:
      type: object
      required: [_id, competency, difficulty, prompt, options]
      properties:
        _id:                 { type: string }
        competency:          { type: string, description: Display name }
        canonicalCompetency: { type: string, description: Canonical key }
        difficulty:          { type: string, enum: [easy, medium, hard] }
        prompt:              { type: string }
        options:
          type: array
          items: { $ref: '#/components/schemas/DiagnosticOption' }
        type:                { type: string, enum: [mcq, voice], default: mcq }

    DiagnosticNextQuestion:
      type: object
      properties:
        question: { $ref: '#/components/schemas/DiagnosticQuestion' }
        done:     { type: boolean }
        progress:
          type: object
          properties:
            current: { type: integer, minimum: 0 }
            total:   { type: integer, minimum: 0 }

    DiagnosticInsights:
      type: object
      properties:
        hero:           { type: string }
        calibration:    { type: string }
        patterns:
          type: array
          items: { type: string }
        topicTakeaways:
          type: object
          additionalProperties: { type: string }
        planHeadline:   { type: string }

    DiagnosticResult:
      type: object
      required: [competency, score, band]
      properties:
        competency:          { type: string }
        canonicalCompetency: { type: string }
        band:                { $ref: '#/components/schemas/ProficiencyBand' }
        score:               { type: integer, minimum: 0, maximum: 100 }
        calibrationDelta:    { type: integer }
        calibrationClass:    { type: string, enum: [well-calibrated, overestimates, undersells] }
        questionsAsked:      { type: integer, minimum: 0 }
        displayName:         { type: string }
        selfRating:          { $ref: '#/components/schemas/SelfRating' }
        strongestMoment:     { type: string }
        stretchMoment:       { type: string }
        missedDifficulties:
          type: array
          items: { type: string }

    DiagnosticResults:
      type: object
      required: [attemptId, status, results]
      properties:
        attemptId:      { type: string }
        status:         { type: string, enum: [in_progress, completed, abandoned] }
        insightsStatus: { type: string, enum: [pending, generating, completed, fallback, error] }
        insights:       { $ref: '#/components/schemas/DiagnosticInsights' }
        planStatus:     { type: string, enum: [pending, generating, ready, failed, queued] }
        results:
          type: array
          items: { $ref: '#/components/schemas/DiagnosticResult' }

    # =====================================================================
    # Plan
    # =====================================================================
    PlanAllocation:
      type: object
      required: [topic, hoursAllocated, focusActivity]
      properties:
        topic:           { type: string }
        canonicalTopic:  { type: string }
        hoursAllocated:  { type: number, minimum: 0 }
        focusActivity:   { type: string }

    PlanWeeklyEntry:
      type: object
      required: [weekNumber, weekLabel, totalHours, allocations]
      properties:
        weekNumber: { type: integer, minimum: 1 }
        weekLabel:  { type: string }
        totalHours: { type: number, minimum: 0 }
        allocations:
          type: array
          items: { $ref: '#/components/schemas/PlanAllocation' }
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/PlanTask'

    PlanTask:
      type: object
      required: [taskId, type, topic, completion, progress]
      properties:
        taskId:
          type: string
          description: ObjectId of the task (stable across plan recalibrations within a single Plan document).
        type:
          type: string
          enum: [quiz, in_app_content, ai_interview, external_link, competition, manual]
        topic:
          type: object
          required: [canonicalName, displayName]
          properties:
            canonicalName: { type: string }
            displayName:   { type: string }
        payload:
          type: object
          additionalProperties: true
          description: Type-discriminated. Quiz payload includes quizId, estimatedMinutes; in_app_content includes contentId, contentType, estimatedMinutes; etc.
        completion:
          type: object
          required: [mode, requiresSelfRating]
          properties:
            mode:                { type: string, enum: [auto, manual] }
            requiresSelfRating:  { type: boolean }
        progress:
          type: object
          required: [status]
          properties:
            status: { type: string, enum: [pending, in_progress, complete, skipped] }
            completedAt:
              type: [string, 'null']
              format: date-time
            selfRating:
              type: [integer, 'null']
              minimum: 1
              maximum: 5

    PlanMilestone:
      type: object
      required: [title, measurableCriteria, weekTarget, isUserStated]
      properties:
        title:              { type: string }
        measurableCriteria: { type: string }
        weekTarget:         { type: integer, minimum: 1 }
        isUserStated:       { type: boolean }

    PlanCurrent:
      type: object
      required: [planId, planHeadline, totalWeeks, totalHours, milestoneCount, weeklySchedule, milestones]
      properties:
        planId:               { type: string }
        planHeadline:         { type: string }
        totalWeeks:           { type: integer, minimum: 0 }
        totalHours:           { type: number,  minimum: 0 }
        milestoneCount:       { type: integer, minimum: 0 }
        bufferRecommendation:
          type: [string, 'null']
        weeklySchedule:
          type: array
          items: { $ref: '#/components/schemas/PlanWeeklyEntry' }
        milestones:
          type: array
          items: { $ref: '#/components/schemas/PlanMilestone' }
        source:
          type: string
          enum: [llm-generated, template, rebalanced]
        nextCheckInAt:
          type: [string, 'null']
          format: date-time
          description: ISO timestamp of the next recalibration check-in (lastDiagnosticCompletedAt + 7 days). Null when the plan has no associated diagnostic attempt.

    PlanStatus:
      type: object
      required: [status]
      properties:
        status:    { type: string, enum: [pending, generating, ready, failed, no_diagnostic] }
        planId:    { type: [string, 'null'] }
        source:    { type: [string, 'null'] }
        updatedAt:
          type: [string, 'null']
          format: date-time

    InterviewProgramDimensionTrend:
      type: object
      required: [dimension, scores, delta]
      properties:
        dimension: { type: string, enum: [communication, content, structure, confidence] }
        scores:
          type: array
          items: { type: number }
        delta: { type: [number, 'null'] }

    InterviewProgramFocus:
      type: object
      required: [dimension, score, delta, reason]
      properties:
        dimension: { type: [string, 'null'] }
        score: { type: [number, 'null'] }
        delta: { type: [number, 'null'] }
        reason: { type: string }

    InterviewProgramView:
      type: object
      required: [_id, status, target, weekStrip, trends, focus, suggestion, sessionsCompleted, createdAt]
      description: |
        Client shape for the caller's active interview-coach program (agentic
        layer #4). Mirrors interviewProgramService.getProgram — week strip/
        trends/focus so the future mobile screen is pure rendering.
      properties:
        _id: { type: string }
        status: { type: string, enum: [active, completed, abandoned] }
        target:
          type: object
          required: [role, company, driveDate]
          properties:
            role: { type: [string, 'null'] }
            company: { type: [string, 'null'] }
            driveDate: { type: [string, 'null'], format: date-time }
        weekStrip:
          type: object
          required: [current, total]
          properties:
            current: { type: integer, minimum: 1 }
            total: { type: integer, minimum: 1 }
        trends:
          type: array
          items: { $ref: '#/components/schemas/InterviewProgramDimensionTrend' }
        focus: { $ref: '#/components/schemas/InterviewProgramFocus' }
        suggestion: { type: string }
        sessionsCompleted: { type: integer, minimum: 0 }
        createdAt: { type: string, format: date-time }

    ProofJourneyStep:
      type: object
      required: [key, label, status]
      properties:
        key: { type: string }
        label: { type: string }
        status: { type: string, enum: [done, now, todo, failed] }
        at: { type: [string, 'null'], format: date-time }

    ProofJourneyJdSummary:
      type: object
      required: [role, company, skills]
      properties:
        role: { type: [string, 'null'] }
        company: { type: [string, 'null'] }
        skills:
          type: array
          items: { type: string }

    ProofJourneyCapstoneRef:
      type: object
      required: [bundleId, sessionId]
      properties:
        bundleId: { type: [string, 'null'] }
        sessionId: { type: [string, 'null'] }

    ProofJourneyNextSuggestion:
      type: object
      required: [skill, reason]
      nullable: true
      properties:
        skill: { type: string }
        reason: { type: string }

    ProofJourneyView:
      type: object
      required: [_id, status, jdSummary, steps, capstoneRef, proofToken, nextProofSuggestion, createdAt]
      description: |
        Client shape for the caller's latest proof-builder journey (agentic
        layer #8). Mirrors proofJourneyService.getJourney — steps checklist
        exactly like the approved mockup so the future mobile screen is pure
        rendering.
      properties:
        _id: { type: string }
        status:
          type: string
          enum: [extracting, capstone_pending, building, grading, publishable, published, failed]
        jdSummary: { $ref: '#/components/schemas/ProofJourneyJdSummary' }
        steps:
          type: array
          items: { $ref: '#/components/schemas/ProofJourneyStep' }
        capstoneRef: { $ref: '#/components/schemas/ProofJourneyCapstoneRef' }
        proofToken: { type: [string, 'null'] }
        nextProofSuggestion:
          oneOf:
            - { $ref: '#/components/schemas/ProofJourneyNextSuggestion' }
            - { type: 'null' }
        createdAt: { type: string, format: date-time }

    PlanMastery:
      type: object
      required: [topics, interview]
      properties:
        topics:
          type: array
          items: { $ref: '#/components/schemas/PlanTopicMastery' }
        interview: { $ref: '#/components/schemas/PlanInterviewMastery' }

    PlanTopicMastery:
      type: object
      required: [canonicalName, displayName, level, score, quizzesTaken, contentConsumed, externalTouches, scoreHistory, trend]
      properties:
        canonicalName: { type: string }
        displayName:   { type: string }
        level:         { type: string }
        score:         { type: number }
        quizzesTaken:    { type: integer }
        contentConsumed: { type: integer }
        externalTouches: { type: integer }
        lastAssessedAt:
          type: [string, 'null']
          format: date-time
        scoreHistory:
          type: array
          items:
            type: object
            properties:
              score: { type: number }
              date:
                type: [string, 'null']
                format: date-time
        trend: { type: string, enum: [improving, stable, declining] }

    PlanInterviewMastery:
      type: object
      required: [totalSessions, averageScore, trend, perTopic]
      properties:
        totalSessions: { type: integer }
        averageScore:  { type: number }
        trend: { type: string, enum: [improving, stable, declining] }
        perTopic:
          type: array
          items:
            type: object
            required: [topic, displayName, score, sessions, trend]
            properties:
              topic:       { type: string }
              displayName: { type: string }
              score:       { type: number }
              sessions:    { type: integer }
              trend: { type: string, enum: [improving, stable, declining] }

    # =====================================================================
    # Journey
    # =====================================================================
    JourneyDay:
      type: object
      properties:
        date:        { type: string, format: date }
        completed:   { type: boolean }
        activities:
          type: array
          items: { type: object, additionalProperties: true }

    Journey:
      type: object
      required: [_id, userId, status]
      properties:
        _id:        { type: string }
        userId:     { type: string }
        status:     { type: string, enum: [active, paused, completed] }
        weekNumber: { type: integer }
        startedAt:  { type: string, format: date-time }
      additionalProperties: true

    # =====================================================================
    # v2 You-tab schemas
    # =====================================================================
    ReadinessBlock:
      type: object
      required: [score, onTrackText]
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: Readiness score (0–100)
        onTrackText:
          type: string
          description: |
            Meaningful status phrase — never duplicates the numeric percentage
            shown in the ring. Possible values:
              "Early days · keep going"
              "Building readiness toward <date>"
              "On track for <date>"
              "Past deadline · keep pushing"
        targetDate:
          oneOf:
            - type: string
            - type: 'null'
          description: Formatted target date string (e.g. "Jun 2026"), null when no objective
        weeksRemaining:
          oneOf:
            - type: integer
              minimum: 1
            - type: 'null'
          description: Weeks until target date; null when overdue or no target date
        weeksOverdue:
          oneOf:
            - type: integer
              minimum: 1
            - type: 'null'
          description: Weeks past the target date; null when on-track or no target date. New in v2.1.
        target:
          type: integer
          minimum: 0
          maximum: 100
          description: |
            Readiness % goal for this objective (personalized when
            FEATURE_OBJECTIVE_TARGET is on, else 80). Distinct from targetDate
            (the calendar deadline). New in v2.2 (readiness redesign).
        targetBands:
          type: object
          description: Readiness bands around the target for the "why this target" UI.
          properties:
            competitive: { type: integer }
            strong:      { type: integer }
            exceptional: { type: integer }
        coverage:
          oneOf:
            - type: number
            - type: 'null'
          description: |
            Fraction (0..1) of the objective's competency weight actually
            measured; null when no composite was computed.
        breakdown:
          oneOf:
            - type: array
              items:
                type: object
                required: [name, weight, score, assessed, primitive]
                properties:
                  name:      { type: string }
                  weight:    { type: integer }
                  score:     { type: integer }
                  assessed:  { type: boolean }
                  primitive: { type: string, enum: [quiz, coding, interview] }
            - type: 'null'
          description: |
            Per-competency rollup behind the readiness number ("what's in your
            number"). Sorted by weight desc; each flagged assessed/unassessed.
            null when there's no composite yet (e.g. no assessments taken).
        calibration:
          oneOf:
            - type: object
              description: |
                Evidence behind the calibrated target (Phase 4B). Present once
                >= 25 real objective outcomes exist for this archetype; null
                until then. Clients may surface this as e.g. "Based on N real
                outcomes from learners like you".
              required: [basedOnOutcomes, archetype, archetypeLabel, successRate, target]
              properties:
                basedOnOutcomes:
                  type: integer
                  description: Number of real objective outcomes (sampleCount) the target is derived from.
                archetype:
                  type: string
                  enum: [interview, exam, skill, generic]
                  description: Outcome-set archetype key for this objective.
                archetypeLabel:
                  type: string
                  description: |
                    Human-readable archetype label. One of:
                    "interview goals" | "exam goals" | "skill-building goals" | "goals"
                successRate:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: |
                    Success-probability threshold the target is anchored to (e.g.
                    0.7 = "7 in 10 people at this readiness achieved their goal").
                target:
                  type: integer
                  minimum: 55
                  maximum: 95
                  description: The calibrated readiness target derived from the outcome curve.
                computedAt:
                  oneOf:
                    - type: string
                      format: date-time
                    - type: 'null'
                  description: When this calibration model was last computed.
            - type: 'null'
          description: |
            Calibration evidence for the readiness target. null when
            FEATURE_OUTCOME_CALIBRATED_TARGET is off or fewer than 25 outcomes
            exist for this objective's archetype. Added in Phase 4B.

    CodingMasteryTrack:
      type: object
      required: [role_track, current_difficulty]
      properties:
        role_track:
          type: string
          enum: [swe, ds, ai_eng]
        axes:
          type: object
          description: Per-axis mastery scores (keys are axis names, values are 0–100 floats)
          additionalProperties: true
        confidence:
          oneOf:
            - type: number
            - type: 'null'
        attempt_count:
          type: integer
        current_difficulty:
          type: string
          enum: [easy, medium, hard]
        recommendation_history:
          type: array
          items:
            type: object
            additionalProperties: true

    CodingMasteryAttemptView:
      type: object
      required: [id, submitted_at]
      properties:
        id:           { type: string }
        drill_subtype:
          oneOf:
            - type: string
            - type: 'null'
        difficulty:
          oneOf:
            - type: string
            - type: 'null'
        role_track:
          oneOf:
            - type: string
            - type: 'null'
        score:
          oneOf:
            - type: integer
            - type: 'null'
        submitted_at: { type: string, format: date-time }
        is_calibration: { type: boolean }

    CodingMasteryStats:
      type: object
      required: [total_drills_graded]
      properties:
        total_drills_graded:
          type: integer
        average_score:
          oneOf:
            - type: integer
            - type: 'null'

    CodingMasteryResponse:
      type: object
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          required: [tracks, recent_attempts, stats]
          properties:
            tracks:
              type: array
              items:
                $ref: '#/components/schemas/CodingMasteryTrack'
            recent_attempts:
              type: array
              items:
                $ref: '#/components/schemas/CodingMasteryAttemptView'
            stats:
              $ref: '#/components/schemas/CodingMasteryStats'

    # =====================================================================
    # Capstones (Phase B)
    # =====================================================================
    CapstoneSessionStatus:
      type: string
      enum:
        - scheduled
        - provisioning
        - ready
        - in_progress
        - paused
        - submitted
        - evaluating
        - graded
        - aborted
        - expired
      description: |
        Lifecycle state per spec §7.2 / §7.3 `session.lifecycle`. Clients pin
        their UI to this enum — adding a new state is a breaking change.

    CapstoneStartRequest:
      type: object
      required: [bundle_id]
      properties:
        bundle_id:
          type: string
          description: ObjectId of the ArtifactBundle (type=capstone) to start
        scheduled_for:
          type: string
          format: date-time
          description: Optional — when this is null the session goes to provisioning immediately

    CapstoneStartResponse:
      type: object
      required: [session_id, status, pairing_code, expires_at, time_budget_seconds]
      properties:
        session_id:
          type: string
        status:
          $ref: '#/components/schemas/CapstoneSessionStatus'
        pairing_code:
          type: string
          description: 6-digit code to redeem on the laptop; null if start was web-only
        expires_at:
          type: string
          format: date-time
          description: When the pairing code expires (10-min window per spec §7.2)
        time_budget_seconds:
          type: integer

    CapstonePairRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string
          description: 6-digit pairing code shown on mobile

    CapstonePairResponse:
      type: object
      required: [session_id, ws_url, token, bundle]
      properties:
        session_id:
          type: string
        ws_url:
          type: string
          description: WebSocket URL the laptop connects to for `session.*` messages
        token:
          type: string
          description: Short-lived JWT scoped to this session for the WS auth handshake
        bundle:
          $ref: '#/components/schemas/CapstoneBundleView'

    CapstoneControlRequest:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [pause, resume, abort, submit]

    CapstoneSessionView:
      type: object
      required: [session_id, status, time_budget_seconds]
      properties:
        session_id:
          type: string
        status:
          $ref: '#/components/schemas/CapstoneSessionStatus'
        sandbox_host_url:
          type: string
          description: Present once status is `ready`; null otherwise
        bundle:
          $ref: '#/components/schemas/CapstoneBundleView'
        started_at:
          type: string
          format: date-time
        time_budget_seconds:
          type: integer
        paused_total_seconds:
          type: integer
        counters:
          $ref: '#/components/schemas/CapstoneSessionCounters'

    CapstoneSessionCounters:
      type: object
      description: Heartbeat counters surfaced to mobile every ~10s (spec §7.2 step 8)
      properties:
        files_changed: { type: integer }
        compass_turns: { type: integer }
        tests_run: { type: integer }
        tests_passing: { type: integer }
        tests_total: { type: integer }

    CapstoneBundleView:
      type: object
      description: Learner-visible projection of an ArtifactBundle of type=capstone
      required: [bundle_id, brief, time_budget_minutes, difficulty, role_track, language, acceptance_criteria]
      properties:
        bundle_id: { type: string }
        brief: { type: string }
        time_budget_minutes:
          type: integer
          enum: [60, 75, 90]
        difficulty:
          type: string
          enum: [easy, medium, hard]
        role_track:
          type: string
          enum: [swe, ds, ai_eng]
        language: { type: string }
        stack_variant: { type: string }
        acceptance_criteria:
          type: array
          items: { type: string }
        starter_repo:
          type: object
          properties:
            files:
              type: array
              items:
                type: object
                required: [path, content]
                properties:
                  path: { type: string }
                  content: { type: string }
        visible_tests:
          type: array
          items:
            type: object
            required: [name, command]
            properties:
              name: { type: string }
              command: { type: string }
        interview_parallel: { type: string }

    CapstoneResult:
      type: object
      description: Populated once status reaches `graded` (spec §8.2)
      required: [overall_score, dimension_scores, integrity_confidence]
      properties:
        overall_score:
          type: integer
          minimum: 0
          maximum: 100
        dimension_scores:
          type: object
          required:
            - correctness
            - code_quality
            - ai_pair_effectiveness
            - verification_discipline
            - decomposition
            - reflection_quality
          properties:
            correctness: { type: number, minimum: 0, maximum: 10 }
            code_quality: { type: number, minimum: 0, maximum: 10 }
            ai_pair_effectiveness: { type: number, minimum: 0, maximum: 10 }
            verification_discipline: { type: number, minimum: 0, maximum: 10 }
            decomposition: { type: number, minimum: 0, maximum: 10 }
            reflection_quality: { type: number, minimum: 0, maximum: 10 }
        strengths:
          type: array
          maxItems: 5
          items: { type: string }
        gaps:
          type: array
          maxItems: 5
          items: { type: string }
        interview_parallel: { type: string }
        integrity_confidence:
          type: string
          enum: [high, medium, low]
          description: Anti-cheat banner color (spec §13.1 #6)
        anchor_drift_detected: { type: boolean }
        graded_at:
          type: string
          format: date-time

    CapstoneReplay:
      type: object
      description: Presigned URLs + index for the mobile Replay scrubber
      required: [session_id, event_stream_url, snapshots, flagged_moments, duration_seconds]
      properties:
        session_id: { type: string }
        event_stream_url:
          type: string
          description: Presigned S3 URL — newline-delimited JSON event log
        duration_seconds: { type: integer }
        snapshots:
          type: array
          items:
            type: object
            required: [t_seconds, snapshot_url]
            properties:
              t_seconds: { type: integer }
              snapshot_url: { type: string }
        flagged_moments:
          type: array
          items:
            type: object
            required: [t_seconds, label]
            properties:
              t_seconds: { type: integer }
              label: { type: string }
              detail: { type: string }
              severity:
                type: string
                enum: [info, warning, critical]

    CompassCoderChatResponse:
      type: object
      required: [reply, capped]
      properties:
        reply: { type: string }
        model:
          oneOf:
            - type: string
            - type: 'null'
        capped:
          type: boolean
          description: True when the daily token budget was exceeded; reply contains the cap-reached message
        usage:
          type: object
          properties:
            input_tokens: { type: integer }
            output_tokens: { type: integer }

    CompassCoderToolCall:
      type: object
      required: [tool, input, output, ok]
      properties:
        tool:
          type: string
          enum: [read_file, write_file, run_command, run_tests]
        input: { type: object }
        output: { type: string }
        ok: { type: boolean }

    CompassCoderTurnResponse:
      type: object
      required: [reply, capped, tool_calls]
      properties:
        reply: { type: string }
        model:
          oneOf:
            - type: string
            - type: 'null'
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/CompassCoderToolCall'
        prompt_id:
          oneOf:
            - type: string
            - type: 'null'
        capped: { type: boolean }
        usage:
          type: object
          properties:
            input_tokens: { type: integer }
            output_tokens: { type: integer }

    CapstoneLibraryEntry:
      type: object
      required: [bundle_id, brief, difficulty, role_track, time_budget_minutes, language]
      properties:
        bundle_id: { type: string }
        brief: { type: string }
        difficulty: { type: string, enum: [easy, medium, hard] }
        role_track: { type: string, enum: [swe, ds, ai_eng] }
        time_budget_minutes: { type: integer, enum: [60, 75, 90] }
        language: { type: string }
        stack_variant: { type: string }
        interview_parallel: { type: string }
        already_completed: { type: boolean }

    CapstoneSummaryMastery:
      type: object
      description: Per-axis mastery levels (0-10) used in the Compass-tab summary card.
      properties:
        prompting: { type: number, format: float, minimum: 0, maximum: 10 }
        verification: { type: number, format: float, minimum: 0, maximum: 10 }
        decomposition: { type: number, format: float, minimum: 0, maximum: 10 }
        refactoring: { type: number, format: float, minimum: 0, maximum: 10 }

    CapstoneSummaryRecentEntry:
      type: object
      # overall_score / graded_at are sent as `?? null` by the backend (a graded
      # session can legitimately lack a numeric score or timestamp). They are NOT
      # required — marking them so made one null row brick the whole summary decode.
      required: [session_id]
      properties:
        session_id: { type: string }
        bundle_id: { type: [string, "null"] }
        bundle_brief_preview: { type: string }
        difficulty: { type: [string, "null"], enum: [easy, medium, hard, null] }
        overall_score: { type: [number, "null"], format: float, minimum: 0, maximum: 10 }
        graded_at: { type: [string, "null"], format: date-time }
        integrity_confidence: { type: [string, "null"], enum: [high, medium, low, null] }
        dimension_scores: { type: [object, "null"], additionalProperties: { type: number } }

    CapstoneSummaryInProgress:
      type: object
      # expires_at is null until the session actually starts (a scheduled/
      # provisioning/ready session has no wall-clock deadline yet), so it is NOT
      # required — requiring it crashed the summary decode for unstarted sessions.
      required: [session_id, bundle_id, status]
      properties:
        session_id: { type: string }
        bundle_id: { type: string }
        status: { type: string }
        expires_at: { type: [string, "null"], format: date-time }

    CapstoneSummary:
      type: object
      required: [eligible, summary_line, recent_capstones]
      properties:
        eligible:
          type: boolean
          description: Whether the learner's objective maps to a coding role-track.
        role_track: { type: [string, "null"], enum: [swe, ds, ai_eng, null] }
        current_difficulty: { type: [string, "null"], enum: [easy, medium, hard, staff_plus, null] }
        mastery:
          oneOf:
            - $ref: '#/components/schemas/CapstoneSummaryMastery'
            - type: 'null'
        recent_capstones:
          type: array
          items: { $ref: '#/components/schemas/CapstoneSummaryRecentEntry' }
        in_progress:
          oneOf:
            - $ref: '#/components/schemas/CapstoneSummaryInProgress'
            - type: 'null'
        next_available_at: { type: [string, "null"], format: date-time }
        summary_line:
          type: string
          description: One-line, learner-readable status suitable for direct display.

    AgentInterventionBriefCluster:
      type: object
      required: [key, label, count, evidence, proposedAction]
      properties:
        key: { type: string, description: "e.g. not_started, weak_competency, inactive" }
        label: { type: string }
        count: { type: integer, description: Number of students in this cluster. }
        evidence:
          type: object
          description: Cluster-specific evidence fields (deterministic aggregates, no PII beyond counts/names).
        proposedAction:
          type: object
          required: [kind, payload]
          properties:
            kind: { type: string, enum: [notify_students] }
            payload:
              type: object
              required: [title, message]
              properties:
                title: { type: string }
                message: { type: string }

    AgentInterventionBrief:
      type: object
      required: [id, cohortId, cohortLabel, createdAt, status, clusters]
      properties:
        id: { type: string }
        cohortId: { type: [string, "null"] }
        cohortLabel: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }
        status: { type: string, enum: [pending, accepted, adjusted, rejected, ignored] }
        clusters:
          type: array
          items: { $ref: '#/components/schemas/AgentInterventionBriefCluster' }

    AgentActivationFunnel:
      type: object
      required: [invited, claimed, claimRate, exhausted, lastBatch]
      properties:
        invited: { type: integer }
        claimed: { type: integer }
        claimRate: { type: number }
        exhausted: { type: integer }
        lastBatch:
          type: object
          nullable: true
          description: action.stats from the most recent activation ledger row, or null when no batch has ever run for this cohort.

paths:
  # =====================================================================
  # Auth
  # =====================================================================
  /auth/register:
    post:
      operationId: authRegister
      summary: Register a new user with email + password
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, firstName]
              properties:
                email:     { type: string, format: email }
                password:  { type: string, minLength: 8, maxLength: 128 }
                firstName: { type: string, minLength: 1 }
                lastName:  { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/login:
    post:
      operationId: authLogin
      summary: Email + password login
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/google:
    post:
      operationId: authGoogle
      summary: Google ID-token sign-in (creates account if new)
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                googleToken: { type: string }
                idToken:     { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/refresh-token:
    post:
      operationId: authRefreshToken
      summary: Exchange a refresh token for a new access token
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Tokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/forgot-password:
    post:
      operationId: authForgotPassword
      summary: Send a password-reset OTP to the email
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: OTP sent (no-op if email is unknown)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/reset-password:
    post:
      operationId: authResetPassword
      summary: Reset password using an OTP
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp, newPassword]
              properties:
                email:       { type: string, format: email }
                otp:         { type: string, minLength: 6, maxLength: 6 }
                newPassword: { type: string, minLength: 8, maxLength: 128 }
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/phone/send-otp:
    post:
      operationId: authSendPhoneOTP
      summary: Send a phone-verification OTP via SMS
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, description: E.164 format }
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/phone/verify-otp:
    post:
      operationId: authVerifyPhoneOTP
      summary: Verify the phone OTP and return tokens (creates account if new)
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp]
              properties:
                phone: { type: string }
                otp:   { type: string, minLength: 6, maxLength: 6 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      operationId: authLogout
      summary: Invalidate the current refresh token
      tags: [Auth]
      responses:
        '200': { description: Logged out, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/reactivate:
    post:
      operationId: authReactivate
      summary: Reactivate a soft-deleted account
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }

  # =====================================================================
  # Onboarding
  # =====================================================================
  /onboarding:
    get:
      operationId: getOnboardingStatus
      summary: Current onboarding state for the authenticated user
      tags: [Onboarding]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          step:                { type: integer, minimum: 1, maximum: 5 }
                          complete:            { type: boolean }
                          objective:           { $ref: '#/components/schemas/UserObjective' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/profile:
    put:
      operationId: updateOnboardingProfile
      summary: Step 1 — set profile (firstName, lastName)
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName]
              properties:
                firstName: { type: string }
                lastName:  { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/background:
    put:
      operationId: updateOnboardingBackground
      summary: Step 2 — set education + work entries
      tags: [Onboarding]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                educationEntries:
                  type: array
                  items: { type: object, additionalProperties: true }
                workEntries:
                  type: array
                  items: { type: object, additionalProperties: true }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/objective:
    post:
      operationId: setOnboardingObjective
      summary: Step 3 — set learning objective + specifics
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectiveType]
              properties:
                objectiveType:
                  type: string
                  enum: [exam_preparation, upskilling, interview_preparation, career_switch, casual_learning, networking, academic_excellence]
                specifics: { $ref: '#/components/schemas/Specifics' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserObjective' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/preferences:
    put:
      operationId: updateOnboardingPreferences
      summary: Step 4 — preferences (timeline, level, weekly hours, learning style)
      tags: [Onboarding]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeline:               { type: string }
                currentLevel:           { type: string, enum: [beginner, intermediate, advanced] }
                weeklyCommitHours:      { type: number, minimum: 0 }
                preferredLearningStyle: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /onboarding/interests:
    put:
      operationId: updateOnboardingInterests
      summary: Step 5 — selected topics + self-ratings
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topicsOfInterest, topicSelfRatings]
              properties:
                topicsOfInterest:
                  type: array
                  items: { type: object, additionalProperties: true }
                topicSelfRatings:
                  type: object
                  additionalProperties: { $ref: '#/components/schemas/SelfRating' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /onboarding/topics/suggest:
    post:
      operationId: suggestOnboardingTopics
      summary: Suggest topics for the user's objective (LLM-backed)
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectiveType]
              properties:
                objectiveType: { type: string }
                specifics:     { $ref: '#/components/schemas/Specifics' }
      responses:
        '200':
          description: Suggested topics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          topics:
                            type: array
                            items: { type: object, additionalProperties: true }

  /onboarding/complete:
    post:
      operationId: completeOnboarding
      summary: Final step — commit all collected onboarding data and mark user onboarded
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectiveType, timeline, currentLevel, weeklyCommitHours, topicsOfInterest, topicSelfRatings]
              properties:
                objectiveType:          { type: string }
                specifics:              { $ref: '#/components/schemas/Specifics' }
                timeline:               { type: string }
                currentLevel:           { type: string }
                weeklyCommitHours:      { type: number }
                preferredLearningStyle: { type: string }
                targetDate:             { type: string }
                topicsOfInterest:
                  type: array
                  items: { type: object, additionalProperties: true }
                topicSelfRatings:
                  type: object
                  additionalProperties: { $ref: '#/components/schemas/SelfRating' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [userObjectiveId]
                properties:
                  userObjectiveId: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # =====================================================================
  # Objectives
  # =====================================================================
  /objectives:
    get:
      operationId: getObjectives
      summary: List the authenticated user's objectives
      tags: [Objectives]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/UserObjective' }
    post:
      operationId: createObjective
      summary: Create a new objective
      tags: [Objectives]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserObjective' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserObjective' }

  /objectives/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    put:
      operationId: updateObjective
      summary: Update an objective
      tags: [Objectives]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserObjective' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserObjective' }
        '404': { $ref: '#/components/responses/NotFound' }

  /objectives/{id}/pause:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: pauseObjective
      summary: Pause an objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/resume:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: resumeObjective
      summary: Resume a paused objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/set-primary:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: setPrimaryObjective
      summary: Promote an objective to be the primary one
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/activate:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: activateObjective
      summary: Reactivate a completed/paused objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/analyze:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      operationId: analyzeObjective
      summary: Run LLM-driven analysis on the objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/brief:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getObjectiveBrief
      summary: Detailed brief for an objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Diagnostic
  # =====================================================================
  /diagnostic/synthesis:
    get:
      operationId: getDiagnosticSynthesis
      summary: E1 synthesis screen payload (for existing-user re-entry)
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true

  /diagnostic/start:
    post:
      operationId: startDiagnostic
      summary: Start a new diagnostic attempt
      tags: [Diagnostic]
      responses:
        '200':
          description: Attempt created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticAttemptStart' }
        '409': { $ref: '#/components/responses/Conflict' }

  /diagnostic/{attemptId}/self-rating:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: submitDiagnosticSelfRating
      summary: Submit per-topic self-ratings for an attempt
      tags: [Diagnostic]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ratings]
              properties:
                ratings:
                  type: object
                  additionalProperties: { $ref: '#/components/schemas/SelfRating' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '503':
          description: Pool assembly transient failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }

  /diagnostic/{attemptId}/next-question:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getDiagnosticNextQuestion
      summary: Fetch the next adaptive question
      tags: [Diagnostic]
      responses:
        '200':
          description: Either a question, or done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticNextQuestion' }

  /diagnostic/{attemptId}/answer:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: submitDiagnosticAnswer
      summary: Submit an MCQ answer
      tags: [Diagnostic]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [questionId, selectedAnswer]
              properties:
                questionId:     { type: string }
                selectedAnswer: { type: string }
                timeTaken:      { type: number, minimum: 0 }
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties: { ack: { const: true } }

  /diagnostic/{attemptId}/finish:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: finishDiagnostic
      summary: Finalise the attempt; computes results + insights
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticResults' }

  /diagnostic/{attemptId}/results:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getDiagnosticResults
      summary: Fetch results (poll while insights are generating)
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticResults' }

  /diagnostic/{attemptId}/abandon:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: abandonDiagnostic
      summary: Abandon an attempt (3-tier policy based on completion %)
      tags: [Diagnostic]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /diagnostic/recalibration/eligible:
    get:
      operationId: getRecalibrationEligibility
      summary: Check whether the user is eligible for re-calibration
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [eligible]
                        properties:
                          eligible:        { type: boolean }
                          reason:          { type: string }
                          daysSinceLast:   { type: integer }
                          eligibleTopics:
                            type: array
                            items: { type: string }

  /diagnostic/recalibration/start:
    post:
      operationId: startRecalibration
      summary: Start a recalibration attempt
      tags: [Diagnostic]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userFlaggedTopics:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticAttemptStart' }
        '409': { $ref: '#/components/responses/Conflict' }

  /diagnostic/voice/upload:
    post:
      operationId: uploadVoiceAnswer
      summary: Upload a voice-question audio answer (multipart)
      tags: [Diagnostic]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio, attemptId, questionId, canonicalCompetency]
              properties:
                audio:                { type: string, format: binary }
                attemptId:            { type: string }
                questionId:           { type: string }
                canonicalCompetency:  { type: string }
      responses:
        '200':
          description: Transcribed + scored
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          transcript: { type: string }
                          score:      { type: number }
                          band:       { $ref: '#/components/schemas/ProficiencyBand' }

  # =====================================================================
  # Plan
  # =====================================================================
  /plan/status:
    get:
      operationId: getPlanStatus
      summary: Plan-generation status for the authenticated user
      tags: [Plan]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PlanStatus' }

  /plan/current:
    get:
      operationId: getPlanCurrent
      summary: The user's currently active plan
      tags: [Plan]
      responses:
        '200':
          description: Active plan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PlanCurrent' }
        '404': { $ref: '#/components/responses/NotFound' }

  /plan/mastery:
    get:
      operationId: getPlanMastery
      summary: Aggregated per-topic mastery + objective-level interview rollup
      tags: [Plan]
      responses:
        '200':
          description: Mastery summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PlanMastery' }

  /plan/tasks/{taskId}/complete:
    parameters:
      - { name: taskId, in: path, required: true, schema: { type: string } }
    post:
      operationId: markPlanTaskComplete
      summary: Mark a manual or external task complete with a self-rating
      tags: [Plan]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [selfRating]
              properties:
                selfRating:
                  type: integer
                  minimum: 1
                  maximum: 5
      responses:
        '200':
          description: Task marked complete
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [taskId, planId, weekNumber]
                        properties:
                          taskId:     { type: string }
                          planId:     { type: string }
                          weekNumber: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  # =====================================================================
  # Journey
  # =====================================================================
  /journey:
    get:
      operationId: getActiveJourney
      summary: The user's active journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { allOf: [{ $ref: '#/components/schemas/ApiSuccessEnvelope' }, { type: object, properties: { data: { $ref: '#/components/schemas/Journey' } } }] } } } }

  /journey/generate:
    post:
      operationId: generateJourney
      summary: Generate (or regenerate) a journey from the current plan
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/today:
    get:
      operationId: getTodayPlan
      summary: Today's activities
      tags: [Journey]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/JourneyDay' }

  /journey/week/{weekNumber}:
    parameters:
      - { name: weekNumber, in: path, required: true, schema: { type: integer, minimum: 1 } }
    get:
      operationId: getWeekPlan
      summary: A specific week's plan
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/pause:
    put:
      operationId: pauseJourney
      summary: Pause the active journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/resume:
    put:
      operationId: resumeJourney
      summary: Resume the paused journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/milestones:
    get:
      operationId: getMilestones
      summary: All milestones for the active journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
    post:
      operationId: addMilestone
      summary: Add a user-defined milestone
      tags: [Journey]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanMilestone' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/milestones/{milestoneId}:
    parameters:
      - { name: milestoneId, in: path, required: true, schema: { type: string } }
    delete:
      operationId: deleteMilestone
      summary: Delete a milestone
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/progress:
    get:
      operationId: getJourneyProgress
      summary: Progress summary across the journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/dashboard:
    get:
      operationId: getJourneyDashboard
      summary: Journey-tab dashboard payload
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/assignment/complete:
    put:
      operationId: completeJourneyAssignment
      summary: Mark a journey assignment as complete
      tags: [Journey]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assignmentId]
              properties:
                assignmentId: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Progress
  # =====================================================================
  /progress/history:
    get:
      operationId: getProgressHistory
      summary: Lifetime activity history
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/stats:
    get:
      operationId: getProgressStats
      summary: Aggregate stats (totals, streaks, time spent)
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/activity-heatmap:
    get:
      operationId: getActivityHeatmap
      summary: Per-day activity heatmap
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/timeline:
    get:
      operationId: getProgressTimeline
      summary: Chronological timeline of completions
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/insights:
    get:
      operationId: getProgressInsights
      summary: Insights derived from recent activity
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/{contentId}:
    parameters:
      - { name: contentId, in: path, required: true, schema: { type: string } }
    put:
      operationId: updateProgress
      summary: Update progress for a content item
      tags: [Progress]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                positionSec: { type: number, minimum: 0 }
                durationSec: { type: number, minimum: 0 }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/{contentId}/complete:
    parameters:
      - { name: contentId, in: path, required: true, schema: { type: string } }
    post:
      operationId: markProgressCompleted
      summary: Mark a content item as completed
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Users
  # =====================================================================
  /users/me:
    get:
      operationId: getMe
      summary: The authenticated user's profile
      tags: [Users]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/User' }
    put:
      operationId: updateMe
      summary: Update the authenticated user's profile
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName: { type: string }
                lastName:  { type: string }
                phone:     { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/User' }
    delete:
      operationId: deleteMe
      summary: Soft-delete the authenticated user
      tags: [Users]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /users/me/avatar:
    put:
      operationId: uploadAvatar
      summary: Upload/replace the user's avatar (multipart)
      tags: [Users]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [avatar]
              properties:
                avatar: { type: string, format: binary }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties: { avatarUrl: { type: string } }

  /users/{userId}:
    parameters:
      - { name: userId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getPublicProfile
      summary: Public profile of any user
      tags: [Users]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/User' }

  /users/{userId}/contributor-card:
    parameters:
      - { name: userId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getContributorCard
      summary: Public contributor stats (notes/flashcards/etc)
      tags: [Users]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Knowledge
  # =====================================================================
  /knowledge/profile:
    get:
      operationId: getKnowledgeProfile
      summary: Full knowledge profile (mastery + history per topic)
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /knowledge/topic/{topic}:
    parameters:
      - { name: topic, in: path, required: true, schema: { type: string } }
    get:
      operationId: getTopicDetail
      summary: Detail for a single topic (canonical or display name)
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /knowledge/gaps:
    get:
      operationId: getKnowledgeGaps
      summary: Identified knowledge gaps
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /knowledge/strengths:
    get:
      operationId: getKnowledgeStrengths
      summary: Identified knowledge strengths
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Dashboard
  # =====================================================================
  /dashboard:
    get:
      operationId: getDashboard
      summary: Aggregate home-screen payload (greeting, today, recent, etc.)
      tags: [Dashboard]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
  /admin/applications:
    get:
      operationId: getAdminApplications
      summary: 'Auto-stubbed: GET /api/v1/admin/applications (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/applications/{id}/approve:
    post:
      operationId: postAdminApplicationsByidApprove
      summary: 'Auto-stubbed: POST /api/v1/admin/applications/{id}/approve (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/applications/{id}/reject:
    post:
      operationId: postAdminApplicationsByidReject
      summary: 'Auto-stubbed: POST /api/v1/admin/applications/{id}/reject (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/users:
    get:
      operationId: getAdminUsers
      summary: 'Auto-stubbed: GET /api/v1/admin/users (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/users/{id}/ban:
    put:
      operationId: putAdminUsersByidBan
      summary: 'Auto-stubbed: PUT /api/v1/admin/users/{id}/ban (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/users/{id}/unban:
    put:
      operationId: putAdminUsersByidUnban
      summary: 'Auto-stubbed: PUT /api/v1/admin/users/{id}/unban (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content:
    get:
      operationId: getAdminContent
      summary: 'Auto-stubbed: GET /api/v1/admin/content (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/content/{id}/moderate:
    put:
      operationId: putAdminContentByidModerate
      summary: 'Auto-stubbed: PUT /api/v1/admin/content/{id}/moderate (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content/{id}/remove:
    put:
      operationId: putAdminContentByidRemove
      summary: 'Auto-stubbed: PUT /api/v1/admin/content/{id}/remove (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content/{id}/dismiss:
    put:
      operationId: putAdminContentByidDismiss
      summary: 'Auto-stubbed: PUT /api/v1/admin/content/{id}/dismiss (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content/{id}/reports:
    get:
      operationId: getAdminContentByidReports
      summary: 'Auto-stubbed: GET /api/v1/admin/content/{id}/reports (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/creators:
    get:
      operationId: getAdminCreators
      summary: 'Auto-stubbed: GET /api/v1/admin/creators (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/creators/{id}/promote:
    put:
      operationId: putAdminCreatorsByidPromote
      summary: 'Auto-stubbed: PUT /api/v1/admin/creators/{id}/promote (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/notes/pending:
    get:
      operationId: getAdminNotesPending
      summary: 'Auto-stubbed: GET /api/v1/admin/notes/pending (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/stats:
    get:
      operationId: getAdminStats
      summary: 'Auto-stubbed: GET /api/v1/admin/stats (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
[...]
