openapi: 3.1.0
info:
  title: ScaleUp Backend API
  version: 0.2.0
  description: |
    Source of truth for request/response shapes between the backend and the
    iOS / Android RN clients. Update this file in the same PR as any wire
    shape change so client type generators and runtime validators stay in
    sync.

    ## Coverage status
    - **Documented** (full schemas): auth, onboarding, objectives, diagnostic,
      plan, journey, progress, users, knowledge, dashboard.
    - **Not yet documented**: admin, aiTutor, audioSummaries, colleges,
      competition, content, creator, diagnosticAdmin, flashcards, gdpr,
      interviews, learningPaths, legal, mindmaps, noteRequests, notes,
      notifications, quizzes, recommendations, social, userInferences,
      youtube, website. The runtime validator is configured to skip
      undocumented paths so adoption is incremental — extend this file as
      you touch those endpoints.

    ## Tooling
    - iOS:     https://github.com/apple/swift-openapi-generator
    - RN:      https://github.com/drwpow/openapi-typescript
    - Backend: express-openapi-validator middleware in src/app.js
    - Lint:    `npx redocly lint openapi.yaml`

servers:
  - url: https://api.scaleupapp.club/api/v1
    description: Production
  - url: http://localhost:5000/api/v1
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Registration, login, OTP, password reset
  - name: Onboarding
    description: Step-by-step user onboarding
  - name: Objectives
    description: Learning objectives (one per user)
  - name: Diagnostic
    description: Day-1 diagnostic + recalibration
  - name: Plan
    description: Personalised learning plan
  - name: Journey
    description: Active learning journey orchestration
  - name: Progress
    description: Activity history, stats, insights
  - name: Users
    description: User profile + account management
  - name: Knowledge
    description: Knowledge profile + topic mastery
  - name: Dashboard
    description: Home dashboard aggregate
  - name: Coding
    description: Coding practice — drills + capstones

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Missing or invalid auth token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    Forbidden:
      description: Authenticated but not allowed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    Conflict:
      description: |
        Domain-level conflict. May include a `code` field (stable machine
        identifier) and a `resumeStep` field (onboarding step to resume).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }
    RateLimited:
      description: Rate limited
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }

  schemas:
    # =====================================================================
    # Envelopes + primitives
    # =====================================================================
    ApiSuccessEnvelope:
      type: object
      required: [success]
      properties:
        success: { const: true }
        message: { type: string }
        data:    { description: Endpoint-specific payload }

    ApiErrorEnvelope:
      type: object
      required: [success]
      properties:
        success:    { const: false }
        error:      { type: string, description: User-facing message }
        message:    { type: string, description: Legacy alias for error }
        code:       { type: string, description: Stable machine code (NEEDS_ONBOARDING / NEEDS_RECALIBRATION) }
        reason:     { type: string, description: Internal classification }
        resumeStep:
          type: integer
          minimum: 1
          maximum: 5
          description: |
            When `code: NEEDS_ONBOARDING`, the onboarding step the client should drop the user into.
            3 = objective+specifics, 5 = topic ratings.

    Tokens:
      type: object
      required: [accessToken, refreshToken]
      properties:
        accessToken:  { type: string }
        refreshToken: { type: string }

    SelfRating:
      type: string
      enum: [novice, familiar, proficient, expert, unsure]

    ProficiencyBand:
      type: string
      enum: [novice, familiar, proficient, expert]

    # =====================================================================
    # User
    # =====================================================================
    User:
      type: object
      required: [_id, onboardingComplete, diagnosticComplete]
      properties:
        _id:                 { type: string }
        email:               { type: string, format: email }
        phone:               { type: string }
        firstName:           { type: string }
        lastName:            { type: string }
        role:                { type: string, enum: [user, creator, admin] }
        avatarUrl:           { type: [string, 'null'] }
        onboardingStep:      { type: integer, minimum: 1, maximum: 5 }
        onboardingComplete:  { type: boolean }
        diagnosticComplete:  { type: boolean }
        needsCalibration:    { type: boolean }
        createdAt:           { type: string, format: date-time }

    AuthResult:
      type: object
      required: [user, accessToken, refreshToken]
      properties:
        user:         { $ref: '#/components/schemas/User' }
        accessToken:  { type: string }
        refreshToken: { type: string }

    # =====================================================================
    # Objective + onboarding
    # =====================================================================
    Specifics:
      type: object
      properties:
        examName:      { type: string }
        targetSkill:   { type: string }
        targetRole:    { type: string }
        targetCompany: { type: string }
        fromDomain:    { type: string }
        toDomain:      { type: string }
      additionalProperties: true

    UserObjective:
      type: object
      required: [_id, userId, objectiveType, status]
      properties:
        _id:                  { type: string }
        userId:               { type: string }
        objectiveType:
          type: string
          enum: [exam_preparation, upskilling, interview_preparation, career_switch, casual_learning, networking, academic_excellence]
        specifics:            { $ref: '#/components/schemas/Specifics' }
        specificsCanonical:   { $ref: '#/components/schemas/Specifics' }
        timeline:             { type: string }
        targetDate:           { type: [string, 'null'], format: date-time }
        currentLevel:         { type: string, enum: [beginner, intermediate, advanced] }
        weeklyCommitHours:    { type: number, minimum: 0 }
        preferredLearningStyle: { type: string }
        topicsOfInterest:
          type: array
          items:
            type: object
            required: [canonicalName, name]
            properties:
              canonicalName: { type: string }
              name:          { type: string }
              source:        { type: string }
              isFutureProofing: { type: boolean }
        topicSelfRatings:
          type: object
          additionalProperties: { $ref: '#/components/schemas/SelfRating' }
          description: Map of canonicalName → SelfRating
        status:               { type: string, enum: [active, paused, completed] }
        isPrimary:            { type: boolean }
        needsCalibration:     { type: boolean }

    # =====================================================================
    # Diagnostic
    # =====================================================================
    DiagnosticAttemptStart:
      type: object
      required: [attemptId, flowType, competenciesToAssess]
      properties:
        attemptId: { type: string }
        flowType:  { type: string, enum: [new_user, recalibration] }
        totalEstimatedQuestions: { type: integer, minimum: 0 }
        estimatedDurationSec:    { type: integer, minimum: 0 }
        competenciesToAssess:
          type: array
          items:
            type: object
            required: [name, questionCap]
            properties:
              name:        { type: string }
              questionCap: { type: integer, minimum: 0 }

    DiagnosticOption:
      type: object
      required: [key, text]
      properties:
        key:  { type: string }
        text: { type: string }

    DiagnosticQuestion:
      type: object
      required: [_id, competency, difficulty, prompt, options]
      properties:
        _id:                 { type: string }
        competency:          { type: string, description: Display name }
        canonicalCompetency: { type: string, description: Canonical key }
        difficulty:          { type: string, enum: [easy, medium, hard] }
        prompt:              { type: string }
        options:
          type: array
          items: { $ref: '#/components/schemas/DiagnosticOption' }
        type:                { type: string, enum: [mcq, voice], default: mcq }

    DiagnosticNextQuestion:
      type: object
      properties:
        question: { $ref: '#/components/schemas/DiagnosticQuestion' }
        done:     { type: boolean }
        progress:
          type: object
          properties:
            current: { type: integer, minimum: 0 }
            total:   { type: integer, minimum: 0 }

    DiagnosticInsights:
      type: object
      properties:
        hero:           { type: string }
        calibration:    { type: string }
        patterns:
          type: array
          items: { type: string }
        topicTakeaways:
          type: object
          additionalProperties: { type: string }
        planHeadline:   { type: string }

    DiagnosticResult:
      type: object
      required: [competency, score, band]
      properties:
        competency:          { type: string }
        canonicalCompetency: { type: string }
        band:                { $ref: '#/components/schemas/ProficiencyBand' }
        score:               { type: integer, minimum: 0, maximum: 100 }
        calibrationDelta:    { type: integer }
        calibrationClass:    { type: string, enum: [well-calibrated, overestimates, undersells] }
        questionsAsked:      { type: integer, minimum: 0 }
        displayName:         { type: string }
        selfRating:          { $ref: '#/components/schemas/SelfRating' }
        strongestMoment:     { type: string }
        stretchMoment:       { type: string }
        missedDifficulties:
          type: array
          items: { type: string }

    DiagnosticResults:
      type: object
      required: [attemptId, status, results]
      properties:
        attemptId:      { type: string }
        status:         { type: string, enum: [in_progress, completed, abandoned] }
        insightsStatus: { type: string, enum: [pending, generating, completed, fallback, error] }
        insights:       { $ref: '#/components/schemas/DiagnosticInsights' }
        planStatus:     { type: string, enum: [pending, generating, ready, failed, queued] }
        results:
          type: array
          items: { $ref: '#/components/schemas/DiagnosticResult' }

    # =====================================================================
    # Plan
    # =====================================================================
    PlanAllocation:
      type: object
      required: [topic, hoursAllocated, focusActivity]
      properties:
        topic:           { type: string }
        canonicalTopic:  { type: string }
        hoursAllocated:  { type: number, minimum: 0 }
        focusActivity:   { type: string }

    PlanWeeklyEntry:
      type: object
      required: [weekNumber, weekLabel, totalHours, allocations]
      properties:
        weekNumber: { type: integer, minimum: 1 }
        weekLabel:  { type: string }
        totalHours: { type: number, minimum: 0 }
        allocations:
          type: array
          items: { $ref: '#/components/schemas/PlanAllocation' }
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/PlanTask'

    PlanTask:
      type: object
      required: [taskId, type, topic, completion, progress]
      properties:
        taskId:
          type: string
          description: ObjectId of the task (stable across plan recalibrations within a single Plan document).
        type:
          type: string
          enum: [quiz, in_app_content, ai_interview, external_link, competition, manual]
        topic:
          type: object
          required: [canonicalName, displayName]
          properties:
            canonicalName: { type: string }
            displayName:   { type: string }
        payload:
          type: object
          additionalProperties: true
          description: Type-discriminated. Quiz payload includes quizId, estimatedMinutes; in_app_content includes contentId, contentType, estimatedMinutes; etc.
        completion:
          type: object
          required: [mode, requiresSelfRating]
          properties:
            mode:                { type: string, enum: [auto, manual] }
            requiresSelfRating:  { type: boolean }
        progress:
          type: object
          required: [status]
          properties:
            status: { type: string, enum: [pending, in_progress, complete, skipped] }
            completedAt:
              type: [string, 'null']
              format: date-time
            selfRating:
              type: [integer, 'null']
              minimum: 1
              maximum: 5

    PlanMilestone:
      type: object
      required: [title, measurableCriteria, weekTarget, isUserStated]
      properties:
        title:              { type: string }
        measurableCriteria: { type: string }
        weekTarget:         { type: integer, minimum: 1 }
        isUserStated:       { type: boolean }

    PlanCurrent:
      type: object
      required: [planId, planHeadline, totalWeeks, totalHours, milestoneCount, weeklySchedule, milestones]
      properties:
        planId:               { type: string }
        planHeadline:         { type: string }
        totalWeeks:           { type: integer, minimum: 0 }
        totalHours:           { type: number,  minimum: 0 }
        milestoneCount:       { type: integer, minimum: 0 }
        bufferRecommendation:
          type: [string, 'null']
        weeklySchedule:
          type: array
          items: { $ref: '#/components/schemas/PlanWeeklyEntry' }
        milestones:
          type: array
          items: { $ref: '#/components/schemas/PlanMilestone' }
        source:
          type: string
          enum: [llm-generated, template, rebalanced]
        nextCheckInAt:
          type: [string, 'null']
          format: date-time
          description: ISO timestamp of the next recalibration check-in (lastDiagnosticCompletedAt + 7 days). Null when the plan has no associated diagnostic attempt.

    PlanStatus:
      type: object
      required: [status]
      properties:
        status:    { type: string, enum: [pending, generating, ready, failed, no_diagnostic] }
        planId:    { type: [string, 'null'] }
        source:    { type: [string, 'null'] }
        updatedAt:
          type: [string, 'null']
          format: date-time

    PlanMastery:
      type: object
      required: [topics, interview]
      properties:
        topics:
          type: array
          items: { $ref: '#/components/schemas/PlanTopicMastery' }
        interview: { $ref: '#/components/schemas/PlanInterviewMastery' }

    PlanTopicMastery:
      type: object
      required: [canonicalName, displayName, level, score, quizzesTaken, contentConsumed, externalTouches, scoreHistory, trend]
      properties:
        canonicalName: { type: string }
        displayName:   { type: string }
        level:         { type: string }
        score:         { type: number }
        quizzesTaken:    { type: integer }
        contentConsumed: { type: integer }
        externalTouches: { type: integer }
        lastAssessedAt:
          type: [string, 'null']
          format: date-time
        scoreHistory:
          type: array
          items:
            type: object
            properties:
              score: { type: number }
              date:
                type: [string, 'null']
                format: date-time
        trend: { type: string, enum: [improving, stable, declining] }

    PlanInterviewMastery:
      type: object
      required: [totalSessions, averageScore, trend, perTopic]
      properties:
        totalSessions: { type: integer }
        averageScore:  { type: number }
        trend: { type: string, enum: [improving, stable, declining] }
        perTopic:
          type: array
          items:
            type: object
            required: [topic, displayName, score, sessions, trend]
            properties:
              topic:       { type: string }
              displayName: { type: string }
              score:       { type: number }
              sessions:    { type: integer }
              trend: { type: string, enum: [improving, stable, declining] }

    # =====================================================================
    # Journey
    # =====================================================================
    JourneyDay:
      type: object
      properties:
        date:        { type: string, format: date }
        completed:   { type: boolean }
        activities:
          type: array
          items: { type: object, additionalProperties: true }

    Journey:
      type: object
      required: [_id, userId, status]
      properties:
        _id:        { type: string }
        userId:     { type: string }
        status:     { type: string, enum: [active, paused, completed] }
        weekNumber: { type: integer }
        startedAt:  { type: string, format: date-time }
      additionalProperties: true

paths:
  # =====================================================================
  # Auth
  # =====================================================================
  /auth/register:
    post:
      operationId: authRegister
      summary: Register a new user with email + password
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, firstName]
              properties:
                email:     { type: string, format: email }
                password:  { type: string, minLength: 8, maxLength: 128 }
                firstName: { type: string, minLength: 1 }
                lastName:  { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/login:
    post:
      operationId: authLogin
      summary: Email + password login
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/google:
    post:
      operationId: authGoogle
      summary: Google ID-token sign-in (creates account if new)
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                googleToken: { type: string }
                idToken:     { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/refresh-token:
    post:
      operationId: authRefreshToken
      summary: Exchange a refresh token for a new access token
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Tokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/forgot-password:
    post:
      operationId: authForgotPassword
      summary: Send a password-reset OTP to the email
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: OTP sent (no-op if email is unknown)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/reset-password:
    post:
      operationId: authResetPassword
      summary: Reset password using an OTP
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp, newPassword]
              properties:
                email:       { type: string, format: email }
                otp:         { type: string, minLength: 6, maxLength: 6 }
                newPassword: { type: string, minLength: 8, maxLength: 128 }
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/phone/send-otp:
    post:
      operationId: authSendPhoneOTP
      summary: Send a phone-verification OTP via SMS
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, description: E.164 format }
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/phone/verify-otp:
    post:
      operationId: authVerifyPhoneOTP
      summary: Verify the phone OTP and return tokens (creates account if new)
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp]
              properties:
                phone: { type: string }
                otp:   { type: string, minLength: 6, maxLength: 6 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      operationId: authLogout
      summary: Invalidate the current refresh token
      tags: [Auth]
      responses:
        '200': { description: Logged out, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/reactivate:
    post:
      operationId: authReactivate
      summary: Reactivate a soft-deleted account
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuthResult' }

  # =====================================================================
  # Onboarding
  # =====================================================================
  /onboarding:
    get:
      operationId: getOnboardingStatus
      summary: Current onboarding state for the authenticated user
      tags: [Onboarding]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          step:                { type: integer, minimum: 1, maximum: 5 }
                          complete:            { type: boolean }
                          objective:           { $ref: '#/components/schemas/UserObjective' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/profile:
    put:
      operationId: updateOnboardingProfile
      summary: Step 1 — set profile (firstName, lastName)
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName]
              properties:
                firstName: { type: string }
                lastName:  { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/background:
    put:
      operationId: updateOnboardingBackground
      summary: Step 2 — set education + work entries
      tags: [Onboarding]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                educationEntries:
                  type: array
                  items: { type: object, additionalProperties: true }
                workEntries:
                  type: array
                  items: { type: object, additionalProperties: true }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/objective:
    post:
      operationId: setOnboardingObjective
      summary: Step 3 — set learning objective + specifics
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectiveType]
              properties:
                objectiveType:
                  type: string
                  enum: [exam_preparation, upskilling, interview_preparation, career_switch, casual_learning, networking, academic_excellence]
                specifics: { $ref: '#/components/schemas/Specifics' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserObjective' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /onboarding/preferences:
    put:
      operationId: updateOnboardingPreferences
      summary: Step 4 — preferences (timeline, level, weekly hours, learning style)
      tags: [Onboarding]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeline:               { type: string }
                currentLevel:           { type: string, enum: [beginner, intermediate, advanced] }
                weeklyCommitHours:      { type: number, minimum: 0 }
                preferredLearningStyle: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /onboarding/interests:
    put:
      operationId: updateOnboardingInterests
      summary: Step 5 — selected topics + self-ratings
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topicsOfInterest, topicSelfRatings]
              properties:
                topicsOfInterest:
                  type: array
                  items: { type: object, additionalProperties: true }
                topicSelfRatings:
                  type: object
                  additionalProperties: { $ref: '#/components/schemas/SelfRating' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /onboarding/topics/suggest:
    post:
      operationId: suggestOnboardingTopics
      summary: Suggest topics for the user's objective (LLM-backed)
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectiveType]
              properties:
                objectiveType: { type: string }
                specifics:     { $ref: '#/components/schemas/Specifics' }
      responses:
        '200':
          description: Suggested topics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          topics:
                            type: array
                            items: { type: object, additionalProperties: true }

  /onboarding/complete:
    post:
      operationId: completeOnboarding
      summary: Final step — commit all collected onboarding data and mark user onboarded
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [objectiveType, timeline, currentLevel, weeklyCommitHours, topicsOfInterest, topicSelfRatings]
              properties:
                objectiveType:          { type: string }
                specifics:              { $ref: '#/components/schemas/Specifics' }
                timeline:               { type: string }
                currentLevel:           { type: string }
                weeklyCommitHours:      { type: number }
                preferredLearningStyle: { type: string }
                targetDate:             { type: string }
                topicsOfInterest:
                  type: array
                  items: { type: object, additionalProperties: true }
                topicSelfRatings:
                  type: object
                  additionalProperties: { $ref: '#/components/schemas/SelfRating' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [userObjectiveId]
                properties:
                  userObjectiveId: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # =====================================================================
  # Objectives
  # =====================================================================
  /objectives:
    get:
      operationId: getObjectives
      summary: List the authenticated user's objectives
      tags: [Objectives]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/UserObjective' }
    post:
      operationId: createObjective
      summary: Create a new objective
      tags: [Objectives]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserObjective' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserObjective' }

  /objectives/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    put:
      operationId: updateObjective
      summary: Update an objective
      tags: [Objectives]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserObjective' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserObjective' }
        '404': { $ref: '#/components/responses/NotFound' }

  /objectives/{id}/pause:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: pauseObjective
      summary: Pause an objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/resume:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: resumeObjective
      summary: Resume a paused objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/set-primary:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: setPrimaryObjective
      summary: Promote an objective to be the primary one
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/activate:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    put:
      operationId: activateObjective
      summary: Reactivate a completed/paused objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/analyze:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      operationId: analyzeObjective
      summary: Run LLM-driven analysis on the objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /objectives/{id}/brief:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getObjectiveBrief
      summary: Detailed brief for an objective
      tags: [Objectives]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Diagnostic
  # =====================================================================
  /diagnostic/synthesis:
    get:
      operationId: getDiagnosticSynthesis
      summary: E1 synthesis screen payload (for existing-user re-entry)
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true

  /diagnostic/start:
    post:
      operationId: startDiagnostic
      summary: Start a new diagnostic attempt
      tags: [Diagnostic]
      responses:
        '200':
          description: Attempt created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticAttemptStart' }
        '409': { $ref: '#/components/responses/Conflict' }

  /diagnostic/{attemptId}/self-rating:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: submitDiagnosticSelfRating
      summary: Submit per-topic self-ratings for an attempt
      tags: [Diagnostic]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ratings]
              properties:
                ratings:
                  type: object
                  additionalProperties: { $ref: '#/components/schemas/SelfRating' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
        '503':
          description: Pool assembly transient failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorEnvelope' }

  /diagnostic/{attemptId}/next-question:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getDiagnosticNextQuestion
      summary: Fetch the next adaptive question
      tags: [Diagnostic]
      responses:
        '200':
          description: Either a question, or done
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticNextQuestion' }

  /diagnostic/{attemptId}/answer:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: submitDiagnosticAnswer
      summary: Submit an MCQ answer
      tags: [Diagnostic]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [questionId, selectedAnswer]
              properties:
                questionId:     { type: string }
                selectedAnswer: { type: string }
                timeTaken:      { type: number, minimum: 0 }
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties: { ack: { const: true } }

  /diagnostic/{attemptId}/finish:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: finishDiagnostic
      summary: Finalise the attempt; computes results + insights
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticResults' }

  /diagnostic/{attemptId}/results:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getDiagnosticResults
      summary: Fetch results (poll while insights are generating)
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticResults' }

  /diagnostic/{attemptId}/abandon:
    parameters:
      - { name: attemptId, in: path, required: true, schema: { type: string } }
    post:
      operationId: abandonDiagnostic
      summary: Abandon an attempt (3-tier policy based on completion %)
      tags: [Diagnostic]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /diagnostic/recalibration/eligible:
    get:
      operationId: getRecalibrationEligibility
      summary: Check whether the user is eligible for re-calibration
      tags: [Diagnostic]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [eligible]
                        properties:
                          eligible:        { type: boolean }
                          reason:          { type: string }
                          daysSinceLast:   { type: integer }
                          eligibleTopics:
                            type: array
                            items: { type: string }

  /diagnostic/recalibration/start:
    post:
      operationId: startRecalibration
      summary: Start a recalibration attempt
      tags: [Diagnostic]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userFlaggedTopics:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DiagnosticAttemptStart' }
        '409': { $ref: '#/components/responses/Conflict' }

  /diagnostic/voice/upload:
    post:
      operationId: uploadVoiceAnswer
      summary: Upload a voice-question audio answer (multipart)
      tags: [Diagnostic]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio, attemptId, questionId, canonicalCompetency]
              properties:
                audio:                { type: string, format: binary }
                attemptId:            { type: string }
                questionId:           { type: string }
                canonicalCompetency:  { type: string }
      responses:
        '200':
          description: Transcribed + scored
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          transcript: { type: string }
                          score:      { type: number }
                          band:       { $ref: '#/components/schemas/ProficiencyBand' }

  # =====================================================================
  # Plan
  # =====================================================================
  /plan/status:
    get:
      operationId: getPlanStatus
      summary: Plan-generation status for the authenticated user
      tags: [Plan]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PlanStatus' }

  /plan/current:
    get:
      operationId: getPlanCurrent
      summary: The user's currently active plan
      tags: [Plan]
      responses:
        '200':
          description: Active plan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PlanCurrent' }
        '404': { $ref: '#/components/responses/NotFound' }

  /plan/mastery:
    get:
      operationId: getPlanMastery
      summary: Aggregated per-topic mastery + objective-level interview rollup
      tags: [Plan]
      responses:
        '200':
          description: Mastery summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PlanMastery' }

  /plan/tasks/{taskId}/complete:
    parameters:
      - { name: taskId, in: path, required: true, schema: { type: string } }
    post:
      operationId: markPlanTaskComplete
      summary: Mark a manual or external task complete with a self-rating
      tags: [Plan]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [selfRating]
              properties:
                selfRating:
                  type: integer
                  minimum: 1
                  maximum: 5
      responses:
        '200':
          description: Task marked complete
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [taskId, planId, weekNumber]
                        properties:
                          taskId:     { type: string }
                          planId:     { type: string }
                          weekNumber: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  # =====================================================================
  # Journey
  # =====================================================================
  /journey:
    get:
      operationId: getActiveJourney
      summary: The user's active journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { allOf: [{ $ref: '#/components/schemas/ApiSuccessEnvelope' }, { type: object, properties: { data: { $ref: '#/components/schemas/Journey' } } }] } } } }

  /journey/generate:
    post:
      operationId: generateJourney
      summary: Generate (or regenerate) a journey from the current plan
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/today:
    get:
      operationId: getTodayPlan
      summary: Today's activities
      tags: [Journey]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/JourneyDay' }

  /journey/week/{weekNumber}:
    parameters:
      - { name: weekNumber, in: path, required: true, schema: { type: integer, minimum: 1 } }
    get:
      operationId: getWeekPlan
      summary: A specific week's plan
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/pause:
    put:
      operationId: pauseJourney
      summary: Pause the active journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/resume:
    put:
      operationId: resumeJourney
      summary: Resume the paused journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/milestones:
    get:
      operationId: getMilestones
      summary: All milestones for the active journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
    post:
      operationId: addMilestone
      summary: Add a user-defined milestone
      tags: [Journey]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlanMilestone' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/milestones/{milestoneId}:
    parameters:
      - { name: milestoneId, in: path, required: true, schema: { type: string } }
    delete:
      operationId: deleteMilestone
      summary: Delete a milestone
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/progress:
    get:
      operationId: getJourneyProgress
      summary: Progress summary across the journey
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/dashboard:
    get:
      operationId: getJourneyDashboard
      summary: Journey-tab dashboard payload
      tags: [Journey]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /journey/assignment/complete:
    put:
      operationId: completeJourneyAssignment
      summary: Mark a journey assignment as complete
      tags: [Journey]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assignmentId]
              properties:
                assignmentId: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Progress
  # =====================================================================
  /progress/history:
    get:
      operationId: getProgressHistory
      summary: Lifetime activity history
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/stats:
    get:
      operationId: getProgressStats
      summary: Aggregate stats (totals, streaks, time spent)
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/activity-heatmap:
    get:
      operationId: getActivityHeatmap
      summary: Per-day activity heatmap
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/timeline:
    get:
      operationId: getProgressTimeline
      summary: Chronological timeline of completions
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/insights:
    get:
      operationId: getProgressInsights
      summary: Insights derived from recent activity
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/{contentId}:
    parameters:
      - { name: contentId, in: path, required: true, schema: { type: string } }
    put:
      operationId: updateProgress
      summary: Update progress for a content item
      tags: [Progress]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                positionSec: { type: number, minimum: 0 }
                durationSec: { type: number, minimum: 0 }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /progress/{contentId}/complete:
    parameters:
      - { name: contentId, in: path, required: true, schema: { type: string } }
    post:
      operationId: markProgressCompleted
      summary: Mark a content item as completed
      tags: [Progress]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Users
  # =====================================================================
  /users/me:
    get:
      operationId: getMe
      summary: The authenticated user's profile
      tags: [Users]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/User' }
    put:
      operationId: updateMe
      summary: Update the authenticated user's profile
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName: { type: string }
                lastName:  { type: string }
                phone:     { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/User' }
    delete:
      operationId: deleteMe
      summary: Soft-delete the authenticated user
      tags: [Users]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /users/me/avatar:
    put:
      operationId: uploadAvatar
      summary: Upload/replace the user's avatar (multipart)
      tags: [Users]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [avatar]
              properties:
                avatar: { type: string, format: binary }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties: { avatarUrl: { type: string } }

  /users/{userId}:
    parameters:
      - { name: userId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getPublicProfile
      summary: Public profile of any user
      tags: [Users]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/User' }

  /users/{userId}/contributor-card:
    parameters:
      - { name: userId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getContributorCard
      summary: Public contributor stats (notes/flashcards/etc)
      tags: [Users]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Knowledge
  # =====================================================================
  /knowledge/profile:
    get:
      operationId: getKnowledgeProfile
      summary: Full knowledge profile (mastery + history per topic)
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /knowledge/topic/{topic}:
    parameters:
      - { name: topic, in: path, required: true, schema: { type: string } }
    get:
      operationId: getTopicDetail
      summary: Detail for a single topic (canonical or display name)
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /knowledge/gaps:
    get:
      operationId: getKnowledgeGaps
      summary: Identified knowledge gaps
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  /knowledge/strengths:
    get:
      operationId: getKnowledgeStrengths
      summary: Identified knowledge strengths
      tags: [Knowledge]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }

  # =====================================================================
  # Dashboard
  # =====================================================================
  /dashboard:
    get:
      operationId: getDashboard
      summary: Aggregate home-screen payload (greeting, today, recent, etc.)
      tags: [Dashboard]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiSuccessEnvelope' } } } }
  /admin/applications:
    get:
      operationId: getAdminApplications
      summary: 'Auto-stubbed: GET /api/v1/admin/applications (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/applications/{id}/approve:
    post:
      operationId: postAdminApplicationsByidApprove
      summary: 'Auto-stubbed: POST /api/v1/admin/applications/{id}/approve (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/applications/{id}/reject:
    post:
      operationId: postAdminApplicationsByidReject
      summary: 'Auto-stubbed: POST /api/v1/admin/applications/{id}/reject (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/users:
    get:
      operationId: getAdminUsers
      summary: 'Auto-stubbed: GET /api/v1/admin/users (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/users/{id}/ban:
    put:
      operationId: putAdminUsersByidBan
      summary: 'Auto-stubbed: PUT /api/v1/admin/users/{id}/ban (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/users/{id}/unban:
    put:
      operationId: putAdminUsersByidUnban
      summary: 'Auto-stubbed: PUT /api/v1/admin/users/{id}/unban (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content:
    get:
      operationId: getAdminContent
      summary: 'Auto-stubbed: GET /api/v1/admin/content (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/content/{id}/moderate:
    put:
      operationId: putAdminContentByidModerate
      summary: 'Auto-stubbed: PUT /api/v1/admin/content/{id}/moderate (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content/{id}/remove:
    put:
      operationId: putAdminContentByidRemove
      summary: 'Auto-stubbed: PUT /api/v1/admin/content/{id}/remove (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content/{id}/dismiss:
    put:
      operationId: putAdminContentByidDismiss
      summary: 'Auto-stubbed: PUT /api/v1/admin/content/{id}/dismiss (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/content/{id}/reports:
    get:
      operationId: getAdminContentByidReports
      summary: 'Auto-stubbed: GET /api/v1/admin/content/{id}/reports (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/creators:
    get:
      operationId: getAdminCreators
      summary: 'Auto-stubbed: GET /api/v1/admin/creators (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/creators/{id}/promote:
    put:
      operationId: putAdminCreatorsByidPromote
      summary: 'Auto-stubbed: PUT /api/v1/admin/creators/{id}/promote (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /admin/notes/pending:
    get:
      operationId: getAdminNotesPending
      summary: 'Auto-stubbed: GET /api/v1/admin/notes/pending (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/stats:
    get:
      operationId: getAdminStats
      summary: 'Auto-stubbed: GET /api/v1/admin/stats (extend with real schema when touched)'
      tags:
        - Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tutor/conversations:
    get:
      operationId: getTutorConversations
      summary: 'Auto-stubbed: GET /api/v1/tutor/conversations (extend with real schema when touched)'
      tags:
        - Tutor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tutor/{contentId}/status:
    get:
      operationId: getTutorBycontentidStatus
      summary: 'Auto-stubbed: GET /api/v1/tutor/{contentId}/status (extend with real schema when touched)'
      tags:
        - Tutor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: contentId
        in: path
        required: true
        schema:
          type: string
  /tutor/{contentId}:
    get:
      operationId: getTutorBycontentid
      summary: 'Auto-stubbed: GET /api/v1/tutor/{contentId} (extend with real schema when touched)'
      tags:
        - Tutor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: contentId
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteTutorBycontentid
      summary: 'Auto-stubbed: DELETE /api/v1/tutor/{contentId} (extend with real schema when touched)'
      tags:
        - Tutor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tutor/{contentId}/message:
    post:
      operationId: postTutorBycontentidMessage
      summary: 'Auto-stubbed: POST /api/v1/tutor/{contentId}/message (extend with real schema when touched)'
      tags:
        - Tutor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: contentId
        in: path
        required: true
        schema:
          type: string
  /audio-summaries/generate:
    post:
      operationId: postAudioSummariesGenerate
      summary: 'Auto-stubbed: POST /api/v1/audio-summaries/generate (extend with real schema when touched)'
      tags:
        - AudioSummaries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /audio-summaries/{contentId}:
    get:
      operationId: getAudioSummariesBycontentid
      summary: 'Auto-stubbed: GET /api/v1/audio-summaries/{contentId} (extend with real schema when touched)'
      tags:
        - AudioSummaries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: contentId
        in: path
        required: true
        schema:
          type: string
  /audio-summaries/{contentId}/status:
    get:
      operationId: getAudioSummariesBycontentidStatus
      summary: 'Auto-stubbed: GET /api/v1/audio-summaries/{contentId}/status (extend with real schema when touched)'
      tags:
        - AudioSummaries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: contentId
        in: path
        required: true
        schema:
          type: string
  /auth/phone/verify:
    post:
      operationId: postAuthPhoneVerify
      summary: 'Auto-stubbed: POST /api/v1/auth/phone/verify (extend with real schema when touched)'
      tags:
        - Auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /colleges/search:
    get:
      operationId: getCollegesSearch
      summary: 'Auto-stubbed: GET /api/v1/colleges/search (extend with real schema when touched)'
      tags:
        - Colleges
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/challenges/today:
    get:
      operationId: getCompetitionChallengesToday
      summary: 'Auto-stubbed: GET /api/v1/competition/challenges/today (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/challenges/{id}:
    get:
      operationId: getCompetitionChallengesByid
      summary: 'Auto-stubbed: GET /api/v1/competition/challenges/{id} (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/challenges/{id}/start:
    post:
      operationId: postCompetitionChallengesByidStart
      summary: 'Auto-stubbed: POST /api/v1/competition/challenges/{id}/start (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/challenges/{id}/answer:
    put:
      operationId: putCompetitionChallengesByidAnswer
      summary: 'Auto-stubbed: PUT /api/v1/competition/challenges/{id}/answer (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/challenges/{id}/complete:
    post:
      operationId: postCompetitionChallengesByidComplete
      summary: 'Auto-stubbed: POST /api/v1/competition/challenges/{id}/complete (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/challenges/{id}/results:
    get:
      operationId: getCompetitionChallengesByidResults
      summary: 'Auto-stubbed: GET /api/v1/competition/challenges/{id}/results (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/challenges/{id}/review:
    get:
      operationId: getCompetitionChallengesByidReview
      summary: 'Auto-stubbed: GET /api/v1/competition/challenges/{id}/review (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/leaderboard/weekly:
    get:
      operationId: getCompetitionLeaderboardWeekly
      summary: 'Auto-stubbed: GET /api/v1/competition/leaderboard/weekly (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/leaderboard/alltime:
    get:
      operationId: getCompetitionLeaderboardAlltime
      summary: 'Auto-stubbed: GET /api/v1/competition/leaderboard/alltime (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/objective-topic:
    get:
      operationId: getCompetitionObjectiveTopic
      summary: 'Auto-stubbed: GET /api/v1/competition/objective-topic (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/profile:
    get:
      operationId: getCompetitionProfile
      summary: 'Auto-stubbed: GET /api/v1/competition/profile (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/stats:
    get:
      operationId: getCompetitionStats
      summary: 'Auto-stubbed: GET /api/v1/competition/stats (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/live-events/upcoming:
    get:
      operationId: getCompetitionLiveEventsUpcoming
      summary: 'Auto-stubbed: GET /api/v1/competition/live-events/upcoming (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/live-events/{id}:
    get:
      operationId: getCompetitionLiveEventsByid
      summary: 'Auto-stubbed: GET /api/v1/competition/live-events/{id} (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/live-events/{id}/join:
    post:
      operationId: postCompetitionLiveEventsByidJoin
      summary: 'Auto-stubbed: POST /api/v1/competition/live-events/{id}/join (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/live-events/{id}/lobby:
    get:
      operationId: getCompetitionLiveEventsByidLobby
      summary: 'Auto-stubbed: GET /api/v1/competition/live-events/{id}/lobby (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/live-events/{id}/question:
    get:
      operationId: getCompetitionLiveEventsByidQuestion
      summary: 'Auto-stubbed: GET /api/v1/competition/live-events/{id}/question (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/live-events/{id}/answer:
    put:
      operationId: putCompetitionLiveEventsByidAnswer
      summary: 'Auto-stubbed: PUT /api/v1/competition/live-events/{id}/answer (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/live-events/{id}/question-results:
    get:
      operationId: getCompetitionLiveEventsByidQuestionResults
      summary: 'Auto-stubbed: GET /api/v1/competition/live-events/{id}/question-results (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/live-events/{id}/results:
    get:
      operationId: getCompetitionLiveEventsByidResults
      summary: 'Auto-stubbed: GET /api/v1/competition/live-events/{id}/results (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/admin/challenge-candidates:
    get:
      operationId: getCompetitionAdminChallengeCandidates
      summary: 'Auto-stubbed: GET /api/v1/competition/admin/challenge-candidates (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /competition/admin/challenge-candidates/{id}:
    put:
      operationId: putCompetitionAdminChallengeCandidatesByid
      summary: 'Auto-stubbed: PUT /api/v1/competition/admin/challenge-candidates/{id} (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /competition/admin/challenges/generate:
    post:
      operationId: postCompetitionAdminChallengesGenerate
      summary: 'Auto-stubbed: POST /api/v1/competition/admin/challenges/generate (extend with real schema when touched)'
      tags:
        - Competition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /content/request-upload:
    post:
      operationId: postContentRequestUpload
      summary: 'Auto-stubbed: POST /api/v1/content/request-upload (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /content/complete-upload:
    post:
      operationId: postContentCompleteUpload
      summary: 'Auto-stubbed: POST /api/v1/content/complete-upload (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /content/request-thumbnail-upload:
    post:
      operationId: postContentRequestThumbnailUpload
      summary: 'Auto-stubbed: POST /api/v1/content/request-thumbnail-upload (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /content/multipart/initiate:
    post:
      operationId: postContentMultipartInitiate
      summary: 'Auto-stubbed: POST /api/v1/content/multipart/initiate (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /content/multipart/complete:
    post:
      operationId: postContentMultipartComplete
      summary: 'Auto-stubbed: POST /api/v1/content/multipart/complete (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /content/multipart/abort:
    post:
      operationId: postContentMultipartAbort
      summary: 'Auto-stubbed: POST /api/v1/content/multipart/abort (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /content/my-content:
    get:
      operationId: getContentMyContent
      summary: 'Auto-stubbed: GET /api/v1/content/my-content (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /content/{id}:
    put:
      operationId: putContentByid
      summary: 'Auto-stubbed: PUT /api/v1/content/{id} (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteContentByid
      summary: 'Auto-stubbed: DELETE /api/v1/content/{id} (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: getContentByid
      summary: 'Auto-stubbed: GET /api/v1/content/{id} (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /content/{id}/publish:
    post:
      operationId: postContentByidPublish
      summary: 'Auto-stubbed: POST /api/v1/content/{id}/publish (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /content/{id}/unpublish:
    post:
      operationId: postContentByidUnpublish
      summary: 'Auto-stubbed: POST /api/v1/content/{id}/unpublish (extend with real schema when touched)'
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
[...]
